<div class="home">
	<div class="home-left">
		<div class="home-l-c">
			<ul>
				<li>
					<div class="home-l-t" ng-click="showMenu($event,'home')">
						<a ><span>首页</span></a>
					</div>
				</li>
				<li ng-repeat="item in params.menus" ng-if="item.parent_id===1">
					<a ng-if="item.page_index==='0'"  ng-click="showMenu($event)"><span>{{item.menu_name}}</span>	
					</a>
					<a ng-if="item.page_index!=='0'" href="#!/home/{{item.page_index}}"  ng-click="showMenu($event)"><span>{{item.menu_name}}</span>	
					</a>
					<div class="h-l-c-m hlcm-e" ng-repeat="child in params.menus" ng-if="child.parent_id===item.permission_id">
						<a href="#!/home/{{child.page_index}}" ng-click="showMenu($event)"><span>{{child.menu_name}}</span></a>
					</div>
				</li>
			</ul>
		</div>
		<div class="home-l-b">
			<a href="#!/home/modifyPassword" ng-click="showMenu($event)"><span>修改密码</span></a>
			<a href="#!/login" ng-click="showMenu($event)"><span>退出账号</span></a>
		</div>
	</div>
	<div class="home-right">
		<div class="home-r-t">
			<div class="h-r-t-n">hi，{{username}}</div>
		</div>
		<div class="home-r-c">
			<ui-view \>
		</div>
	</div>
</div>
