<div>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        <h1>Password</h1>
        <form name="form" ng-submit="vm.password()" role="form">
            <!-- Old Password text, error, input -->
            <div class="form-group" ng-class="{ 'has-error': form.oldPassword.$dirty && form.oldPassword.$error.required }">
                <label for="oldPassword">Old Password</label>
                <input type="text" name="oldPassword" id="oldPassword" class="form-control" ng-model="vm.oldPassword"></input>
                <span ng-show="form.oldPassword.$dirty && form.oldPassword.$error.required" class="help-block">Old password required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.newPassword.$dirty && form.newPassword.$error.required }">
                <!-- New Password text, error, input -->
                <label for="newPassword">New Password</label>
                <input type="text" name="newPassword" id="newPassword" class="form-control" ng-model="vm.newPassword"></input>
                <span ng-show="form.newPassword.$dirty && form.newPassword.$error.requred" class="help-block">New password required</span>
            </div>
            <!-- Update Button -->
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Update</button>
            </div>

        </form>
</div>
