<div>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
    <h1>Phone Number</h1>
    <form name="form" ng-submit="vm.phone()" role="form">
        <!-- Old Phone text, error, input -->
        <div class="form-group" ng-class="{ 'has-error': form.oldPhone.$dirty && form.oldPhone.$error.required }">
            <label for="oldPhone">Old Phone</label>
            <input type="text" name="oldPhone" id="oldPhone" class="form-control" ng-model="vm.oldPhone"></input>
            <span ng-show="form.oldPhone.$dirty && form.oldPhone.$error.required" class="help-block">Old phone required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.newPhone.$dirty && form.newPhone.$error.required }">
            <!-- New Phone text, error, input -->
            <label for="newPhone">New Phone</label>
            <input type="text" name="newPhone" id="newPhone" class="form-control" ng-model="vm.newPhone"></input>
            <span ng-show="form.newPhone.$dirty && form.newPhone.$error.requred" class="help-block">New phone required</span>
        </div>
        <!-- Update Button -->
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
