<div class="login-main">
	<div class="topBar">
		<div class="leader">
			<a href="#">Home</a>
			<a href="#">Trading</a>
			<a href="#">News</a>
			<a href="#">Support</a>
		</div>
		<div class="signin">
			<input type="button" value="Register">
			<input type="button" value="login">
		</div>
	</div>
	<div class="signContent">
		<h1>{{ "LOGIN.TITLE" | translate }}</h1>
		<form name="form" ng-submit="vm.login()" role="form">	
			<div class="signInput signInputUser" ng-class="{ 'has-error': form.username.$touched && form.username.$error.pattern && form.username.$invalid }">
				<!-- ngMessages goes here -->
				<span class="help-block" ng-messages="form.username.$error">
					<p ng-message="minlength">Input is too short.</p >
					<p ng-message="maxlength">Input is too long.</p >
					<p ng-message="required">Phone or Email is required.</p >
					<p ng-message="pattern">Not a valid email or phone number.</p >
				</span>
				<img src="img/icon-userface.png">
				<input type="text" placeholder="mobile number / Email" name="username" id="username" ng-model="vm.username" ng-model="vm.username"
                   ng-pattern="/(^0{0,1}1[3|4|5|6|7|8|9][0-9]{9})[_\.0-9a-z-]+@([0-9a-z][0-9a-z-]+\.){1,4}[a-z]{2,3}$/"
                   ng-minlength="5"
                   ng-maxlength="40"
                   required />
			</div>
			<div class="signInput" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
				<!-- ngMessages goes here -->
				<span class="help-block" ng-messages="form.password.$error">
					<p ng-message="minlength">Your password is too short.</p >
					<p ng-message="maxlength">Your password is too long.</p >
					<p ng-message="required">Your password is required.</p >
				</span>
				<img src="img/icon-password.png">
				<input type="password" placeholder="password" name="password" id="password" ng-model="vm.password" ng-minlength="3"
                   ng-maxlength="50"
                   required >
			</div>
			<span id="loginError" ng-show="vm.errorFlag">{{vm.errorInfo}}</span>
			<input type="submit" value="Login" class="login-submit" ng-class="{'lg-sm':form.username.$touched && form.username.$error.pattern && form.username.$invalid}" ng-disabled="form.$invalid || vm.dataLoading">
			<div class="signFooter">
				<a href="">Forget password?</a>
				<a href="">Register</a>
			</div>
		</form>
	</div>
</div>
<!--<div class="col-md-6 col-md-offset-3">
  <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

    <h2>{{ "LOGIN.TITLE" | translate }}</h2>
    <form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">{{ "LOGIN.USERNAME" | translate }}</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">{{ "LOGIN.USERNAME_REQ" |  translate }}</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">{{ "LOGIN.PASSWORD" | translate }}</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">{{ "LOGIN.PASSWORD_REQ" | translate }}</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">{{ "LOGIN.BUTTON" | translate }}</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/register" class="btn btn-link">{{ "LOGIN.REGISTER" | translate}}</a>
        </div>
    </form>
</div>-->

<div ng-controller="RegisterController as vm">
  <!-- {{vm.test}}xxx -->
</div>
