<div class="s-home">
	<div class="d-p-up">
		<div class="d-p-p01">
			<input type="text" placeholder="账户类型" ng-model="params.asset_type" /><img src="./img/search.png" ng-click="search()"/>
		</div>
	</div>
	<div class="s-h-down">
		<div class="s-h-down-l">
			<h1><a>默认充提限额列表</a> <a class="s-h-down-lau" href="#!/home/configcustome">根据用户修改充提限额</a><a class="s-h-down-lau" href="#!/home/configwholesale">大小额设置</a></h1>
			<div class="s-h-down-l-c"> 
				<div class="s-h-up-l-c01">
					<div class="bk-t-ms a-u-cz">
						<a href="#!/home/modifyconfig/id/bank">新增默认限额列表</a>
					</div>
				</div>
				<div class="s-h-down-l-c02 down">
					<div class="s-h-up-l-c02-t">
						<div class="bk-tra">默认限额id</div>
						<div class="last-login">描述</div>
						<div class="last-login">充提类型</div>
						<div class="mobile">单笔限额</div>
						<div class="telephone">用户等级</div>
						<div class="bk-tra">累计限额</div>
						<div class="bk-tra">账户类型</div>
					</div>
					<ul>
						<li class="s-h-up-l-c02-li" ng-repeat="item in params.allData">
							<div class="bk-tra01">{{item.id}}</div>
							<div class="last-login">{{item.description}}</div>
							<div class="last-login" ng-if="item.is_currency==='DEPOSIT'">充值</div>
							<div class="last-login" ng-if="item.is_currency==='WITHDRAWAL'">提现</div>
							<div class="mobile">{{item.simgle_limit/10000000}}</div>
							<div class="telephone">leval{{item.leval}}</div>
							<div class="bk-tra01">{{item.accumulate_limit/10000000}}</div>
							<div class="bk-tra01">{{item.asset_type}}</div>
							<div class="s-h-c-z">
								<a class="update" href="#!/home/modifyconfig/{{item.id}}/{{item.asset_type}}">修改</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	