<div class="add-user">
	<div class="add-user-title">
		{{params.title}}
	</div>
	
	<div class="add-u-p">
		<div class="add-u-p-dt">
			<input type="password" ng-model="params.oldPsw" placeholder="旧密码" />
		</div>
	</div>
	
	<div class="add-u-p">
		<div class="add-u-p-dt">
			<input type="password" ng-model="params.newPsw" placeholder="新密码" />
		</div>
	</div>
	<div class="add-u-p">
		<div class="add-u-p-dt">
			<input type="password" ng-model="params.renewPsw" placeholder="再次输入密码"/>
		</div>
	</div>
	<div class="add-u-p">
		<div class="add-u-p-sm" ng-show="params.add_submit" ng-click="modifyPassword()">提交</div>
		<div class="add-u-p-cl" ng-click="back()">取消</div>
	</div>
</div>
	