<div class="s-home">
		<div class="s-h-up">
			<div class="s-h-up-l">
				<h1>我的任务列表</h1>
				<div class="s-h-up-l-c"> 
					<div class="s-h-up-l-c01">
						<div class="bk-t-ms">
							<a ng-click="queryTask($event)" class="bk-t-msaCh">全部</a>
							<a ng-click="queryTask($event,0)">已完成</a>
							<a ng-click="queryTask($event,-1)">已拒绝</a>
							<a ng-click="queryTask($event,1)">进行中</a>
						</div>
					</div>
					<div class="s-h-up-l-c02">
						<div class="s-h-up-l-c02-t">
							<div class="last-login">时间</div>
							<div class="last-login">任务</div>
							<div class="mobile">金额</div>
							<div class="telephone">当前节点</div>
							<div class="email">状态</div>
						</div>
						<ul>
							<li class="s-h-up-l-c02-li" ng-repeat="item in params.mytask">
								<!--<a href="#!/home/bankdetail/{{item.customer_user_id}}/{{item.bank_transfer_id}}" class="s-h-item">-->
								<a ng-click="itemDetail(item.customer_user_id,item.bank_transfer_id)" class="s-h-item">
									<div class="last-login">{{item.create_time | date:"yyyy-MM-dd hh:mm:ss"}}</div>
									<div class="last-login" ng-if="item.is_currency==='DEPOSIT' && item.method==='OFFLINE'">UID  {{item.customer_user_id}} - 人工充值-bank</div>
									<div class="last-login" ng-if="item.is_currency==='DEPOSIT' && item.method==='ONLINE'">UID  {{item.customer_user_id}} - 充值-bank</div>
									<div class="last-login" ng-if="item.is_currency==='WITHDRAWAL'">UID  {{item.customer_user_id}} - 提现-bank</div>
									<div class="mobile">{{item.amount}}</div>
									<div class="telephone" ng-if="item.assign_role_id===3">管理员</div>
									<div class="telephone" ng-if="item.assign_role_id===2">一级主管</div>
									<div class="telephone" ng-if="item.assign_role_id===1">二级主管</div>
									<div class="telephone" ng-if="item.assign_role_id===0">普通操作员</div>
									<div class="telephone" ng-if="item.assign_role_id===-1">自动充值</div>
									<div class="email" ng-if="item.show_user_status===0">已成功</div>
									<div class="email cal" ng-if="item.show_user_status===-1">已拒绝</div>
									<div class="email progress" ng-if="item.show_user_status===1">进行中</div>
								</a>
								<div class="s-h-c-z" ng-show="isSelf(item.show_user_status,item.assign_role_id)">
									<a class="update" ng-show="params.rejectFlag"  ng-click="reject(item.bank_transfer_id,item.system_status,item.customer_user_id,item.is_currency,item.amount,$index)">拒绝</a>
									<a class="update" ng-click="abnormal(item.bank_transfer_id,item.system_status,item.customer_user_id,item.is_currency,item.amount,$index)">异常</a>
									<a class="submit" ng-click="goUpstairs(item.bank_transfer_id,item.system_status,item.customer_user_id,item.amount,item.is_currency,item.show_user_status,item.leval,$index,item.method)">提交</a>
								</div>
							</li>
							<li class="s-h-up-l-c02-li" ng-repeat="item in params.mycointask track by $index">
								<!--<a href="#!/home/bankdetail/{{item.customer_user_id}}/{{item.bank_transfer_id}}" class="s-h-item">-->
								<a ng-click="itemCoinDetail(item.customer_user_id,item.is_currency,item.transefer_id)" class="s-h-item">
									<div class="last-login">{{item.create_time | date:"yyyy-MM-dd hh:mm:ss"}}</div>
									<div class="last-login" ng-if="item.is_currency==='DEPOSIT'">UID  {{item.customer_user_id}} - 充值-{{item.asset_type}}</div>
									<div class="last-login" ng-if="item.is_currency==='WITHDRAWAL'">UID  {{item.customer_user_id}} - 提现-{{item.asset_type}}</div>
									<div class="mobile">{{item.amount}}</div>
									<div class="telephone" ng-if="item.assign_role_id===3">管理员</div>
									<div class="telephone" ng-if="item.assign_role_id===2">一级主管</div>
									<div class="telephone" ng-if="item.assign_role_id===1">二级主管</div>
									<div class="telephone" ng-if="item.assign_role_id===0">普通操作员</div>
									<div class="email" ng-if="item.show_user_status===0">已成功</div>
									<div class="email cal" ng-if="item.show_user_status===-1">已拒绝</div>
									<div class="email progress" ng-if="item.show_user_status===1">进行中</div>
								</a>
								<div class="s-h-c-z" ng-show="isSelf(item.show_user_status,item.assign_role_id)">
									<a class="update" ng-show="params.rejectFlag"  ng-click="rejectCoin(item.transefer_id,item.system_status,item.customer_user_id,item.is_currency,item.amount,$index,item.asset_type)">拒绝</a>
									<a class="update" ng-click="abnormalCoin(item.transefer_id,item.system_status,item.customer_user_id,item.is_currency,item.amount,$index,item.asset_type)">异常</a>
									<a class="submit" ng-click="goCoinUpstairs(item.transefer_id,item.system_status,item.customer_user_id,item.amount,item.is_currency,item.show_user_status,item.leval,$index,item.asset_type)">提交</a>
								</div>
							</li>
							<li class="s-h-up-l-c02-li" ng-repeat="item in params.idcardtask track by $index">
								<!--<a href="#!/home/bankdetail/{{item.customer_user_id}}/{{item.bank_transfer_id}}" class="s-h-item">-->
								<a ng-click="itemCoinDetail(item.customer_user_id,item.is_currency,item.transefer_id)" class="s-h-item">
									<div class="last-login">{{item.created_at | date:"yyyy-MM-dd hh:mm:ss"}}</div>
									<div class="last-login">UID  {{item.user_id}} - {{item.id_type}}</div>
									<div class="mobile">无</div>
									<div class="telephone" ng-if="symbol==3">管理员</div>
									<div class="telephone" ng-if="symbol==2">一级主管</div>
									<div class="telephone" ng-if="symbol==1">二级主管</div>
									<div class="telephone" ng-if="symbol==0">普通操作员</div>
									<div class="email" ng-if="item.status===0">进行中</div>
									<div class="email cal" ng-if="item.status===-1">认证未通过</div>
									<div class="email progress" ng-if="item.status===1">认证已通过</div>
								</a>
								<div class="s-h-c-z">
									<a class="submit" ng-click="queryAuthor(item.user_id,item.id,$index)">查看</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="page-m">
						<div class="page-m-p-all">
							共{{params.allcount}}页
						</div>
						<div class="page-m-p">
							<span ng-click="prev('mytask')">首页</span>
							<div class="page-m-p-a">
								<a ng-repeat="left in mytaskleftPages" class="mytask-page" ng-click="page($event,left,'mytask')">{{left}}</a>
							</div>
							<span ng-click="next('mytask')">尾页</span>
						</div>
					</div>
					
				</div>
			</div>
			<div class="s-h-up-r">
				<h1>登录日志</h1>
				<div class="s-h-up-l-c"> 
					<div class="s-h-up-l-c01">
						<span class="s-h-up-r-c01-t">
							查看全部
						</span>
					</div>
					<div class="s-h-up-l-c02">
						<div class="s-h-up-r-c02-t">
							<div class="time">时间</div>
							<div class="ip">IP</div>
							<div class="status">状态</div>
							
						</div>
						<ul>
							<li class="s-h-up-r-c02-li" ng-repeat="item in params.loginInfo">
								<div class="time">{{item.login_time | date:"yyyy-MM-dd hh:mm:ss"}}</div>
								<div class="ip">{{item.login_address}}</div>
								<div class="status">登录</div>
							</li>
						</ul>
					</div>
					<div class="page-m">
						<div class="page-m-p-all">
							共{{params.allcount}}页
						</div>
						<div class="page-m-p">
							<span ng-click="prev('login')">首页</span>
							<div class="page-m-p-a">
								<a ng-repeat="left in leftPages" class="login-page" ng-click="page($event,left,'login')">{{left}}</a>
							</div>
							<span ng-click="next('login')">尾页</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="mt-bt-m" ng-show="!params.people">
			<div class="d-p-up">
					<div class="d-p-p01">
						<input type="text" placeholder="用户名" ng-model="params.user_id" /><img src="./img/search.png" ng-click="search()"/>
					</div>
					<div class="d-p-rs" ng-show="params.userinfoFlag">
						<div class="d-p-rs-t">
							<span>UID</span>
							<span>真实姓名</span>
							<span>用户级别</span>
							<span>手机号码</span>
							<span>邮箱</span>
						</div>
						<div class="d-p-rs-t d-p-rs-d">
							<span>{{params.userInfo.id}}</span>
							<span>{{params.userInfo.phone}}</span>
							<span>{{params.userInfo.auth_level}}</span>
							<span>{{params.userInfo.phone}}</span>
							<span>{{params.userInfo.email}}</span>
							<div class="d-p-rs-cz">
								<a>详情</a>
								<label>冻结</label>
								<img src="./img/close.png" ng-click="userInfoHide()"/>
							</div>
						</div>
					</div>
				</div>
				<div class="s-h-down">
					<div class="s-h-down-l">
						<h1>人民币充值列表</h1>
						<div class="s-h-down-l-c"> 
							<div class="s-h-up-l-c01">
								<div class="bk-t-ms">
									<a ng-click="queryTaskBank($event)" class="bk-t-msaCh">全部</a>
									<a ng-click="queryTaskBank($event,0)">已完成</a>
									<a ng-click="queryTaskBank($event,-1)">已拒绝</a>
									<a ng-click="queryTaskBank($event,1)">进行中</a>
								</div>
								<div class="bk-t-tm">
									<input type="" placeholder="开始时间"/>
									<div class="circle"></div>
									<input type="" placeholder="结束时间"/>
									<a>确定</a>
								</div>
							</div>
							<div class="s-h-down-l-c02 down">
								<div class="s-h-up-l-c02-t">
									<div class="bk-tra">交易id</div>
									<div class="last-login">充值时间</div>
									<div class="last-login">任务类型</div>
									<div class="mobile">充值总金额</div>
									<div class="telephone">当前节点</div>
									<div class="bk-tra">状态</div>
									<div class="bk-tra">账户类型</div>
								</div>
								<ul>
									<li class="s-h-up-l-c02-li" ng-repeat="item in params.mybanktask">
										<div class="bk-tra01">{{item.bank_transfer_id}}</div>
										<div class="last-login">{{item.create_time | date:"yyyy-MM-dd hh:mm:ss"}}</div>
										<div class="last-login" ng-if="item.is_currency==='DEPOSIT'">UID  {{item.customer_user_id}} - 充值</div>
										<div class="last-login" ng-if="item.is_currency==='WITHDRAWAL'">UID  {{item.customer_user_id}} - 提现</div>
										<div class="mobile">{{item.amount}}</div>
										<div class="telephone" ng-if="item.assign_role_id===3">管理员</div>
										<div class="telephone" ng-if="item.assign_role_id===2">一级主管</div>
										<div class="telephone" ng-if="item.assign_role_id===1">二级主管</div>
										<div class="telephone" ng-if="item.assign_role_id===0">普通操作员</div>
										<div class="bk-tra01" ng-if="item.show_user_status===0">已成功</div>
										<div class="bk-tra01 cal" ng-if="item.show_user_status===-1">已拒绝</div>
										<div class="bk-tra01 progress" ng-if="item.show_user_status===1">进行中</div>
										<div class="bk-tra01">人民币</div>
										<div class="s-h-c-z" ng-show="isSelf(item.show_user_status,item.assign_role_id)">
											<a class="update" ng-show="params.rejectFlag"  ng-click="reject(item.bank_transfer_id,item.system_status,$index)">拒绝</a>
											<a class="update" ng-click="abnormal()">异常</a>
											<a class="submit" ng-click="goUpstairs(item.bank_transfer_id,item.system_status,item.customer_user_id,item.amount,item.is_currency,item.show_user_status,item.leval,$index)">提交</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="s-h-down" ng-show="params.people">
			<div class="s-h-down-l">
				<h1>操作员列表</h1>
				<div class="s-h-down-l-c"> 
					<div class="s-h-up-l-c01 a-u-cz">
						<a href="#!/home/addAdminUser">新建操作员</a>
					</div>
					<div class="s-h-down-l-c02 down">
						<div class="s-h-up-l-c02-t">
							<div class="uid">用户id</div>
							<div class="name">员工姓名</div>
							<div class="mobile">手机</div>
							<div class="telephone">电话</div>
							<div class="email">邮箱</div>
							<div class="department">所属部门</div>
							<div class="last-login">最后登录时间</div>
						</div>
						<ul>
							<li class="s-h-up-l-c02-li" ng-repeat="item in params.users">
								<div class="uid">{{item.uid}}</div>
								<div class="name">{{item.name}}</div>
								<div class="mobile">{{item.mobile}}</div>
								<div class="telephone">{{item.telephone}}</div>
								<div class="email">{{item.email}}</div>
								<div class="department">{{item.DEPARTMENT}}</div>
								<div class="last-login">{{item.LAST_LOGIN_DATETIME}}</div>
								<div class="s-h-c-z">
									<!--<a class="update">修改</a>-->
									<a class="frozen" ng-if="item.status===0" ng-click="frozen(item.uid,$index,0,'user')">冻结</a>
									<a class="unfrozen" ng-if="item.status===1" ng-click="frozen(item.uid,$index,2,'user')">解冻</a>
									<a ng-click="frozen(item.uid,$index,1)">注销</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="my-dialog">
		<div class="my-dialog-title">
			身份认证审核
		</div>
		<div class="my-dialog-span">
			姓名：{{params.authorInfo.name}}
		</div>
		<div class="my-dialog-span">
			UID:{{params.authorInfo.user_id}}
		</div>
		<div class="my-dialog-span">
			证件类型:{{params.authorInfo.id_type}}
		</div>
		<div class="my-dialog-span">
			证件号码:{{params.authorInfo.id_no}}
		</div>
		<div class="my-dialog-span">
			用户等级:{{params.authorInfo.level}}
		</div>
		<div class="my-dialog-img">
			<span>正面照</span>
			<img src="params.authorInfo.frand"/>
		</div>
		<div class="my-dialog-img">
			<span>反面照</span>
			<img src="params.authorInfo.back"/>
		</div>
		<div class="my-dialog-img">
			<span>手持照</span>
			<img src="params.authorInfo.face"/>
		</div>
		<div class="my-dialog-img">
			<span>备注</span>
			<textarea ng-model="params.authorInfo.remark"></textarea>
		</div>
		<div class="my-dialog-cz">
			<a class="update" ng-click="notPass()">不通过</a>
			<a class="submit" ng-click="adopt()">通过</a>
		</div>
	</div>
	<div class="dialog">
		<div class="title">{{params.dialogMes}}</div>
		<div class="dialog-c">
			<div class="sure" ng-click="sure()" >
				确定
			</div>
			<div class="cancle" ng-click="cancel()" >
				取消
			</div>
		</div>
	</div>
	<div class="hide" ng-click="hideMethod()">
	</div>
	<div class="err-mess" ng-show="params.errSymbol">{{params.errMsg}}</div>
	